.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-titulo);
}


.apresentacao__conteudo__titulo-destaque {
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--branco);
    border: 2px solid var(--azul-claro);
}

.apresentacao__links__link:hover {
    background-color: var(--preto-hover);
    padding: 3%;
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 8px;
    border: 2px solid var(--azul-claro);
}



@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}